    <div class="col-md-12">
      <div class="text-center h-100 p-5 text-white bg-secondary rounded-3">
        <h2>App Dados</h2>
        <button
          class="btn btn-light btn-lg"
          (click)="lanzarDados()"
        >
          Lanzar Dados
        </button>
        <br>
        <img [src]="dadoIzquierdo" [alt]="'Numero ' + dadoIzquierdo ">
        <img [src]="dadoDerecho" [alt]="'Numero ' + dadoDerecho ">
        <h1 *ngIf="numero1 === numero2">
          <span class="badge bg-success">¡GANASTE!</span>
        </h1>
      </div>
    </div>
